* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, verdana, sans-serif;
    width: 100%;
    height: 800px;
    color: white;
}

nav, footer {
    background-color: #1c1c1c;
}

nav {
    height: 50px;
}

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    margin-top: 15px;
    display: inline-block;
    /* visual do link */
    text-decoration: none;
    width: 50px;
    margin-left: 20px;
    color: white;
    text-shadow: -1px 0 #000d1a, 0 1px #000d1a, 1px 0 #000d1a, 0 -1px #000d1a
}

#menu ul li a:link {
    text-decoration: none;
}

#menu ul li a:hover {
    color: #1a8cff;
}

.brand {
    margin-right: 940px;
    margin-left: 20px;
}

.container2 {
    width: 100%;
    height: 820px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    float: center;
    display:inline-block;
}

footer {
    height: 43px;
}

footer p {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: -1px 0 #000d1a, 0 1px #000d1a, 1px 0 #000d1a, 0 -1px #000d1a
}

.information {
    text-align: center;
    padding-top: 50px;
    float:left;
    margin-left: 10px;
}

img {
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 150px;
}

h3 {
    margin-top: 100px;
    font-size: 18px;
    text-shadow: -1px 0 #000d1a, 0 1px #000d1a, 1px 0 #000d1a, 0 -1px #000d1a
}

.title {
    margin-left: 400px;
    margin-top: -80px;
    text-shadow: -1px 0 #000d1a, 0 1px #000d1a, 1px 0 #000d1a, 0 -1px #000d1a
}

.subtitle {
    margin-left: 480px;
    text-shadow: -1px 0 #000d1a, 0 1px #000d1a, 1px 0 #000d1a, 0 -1px #000d1a
}

.logo {
    margin-left: 250px;
    margin-top: 200px;
    margin-right: 10px;
}

.picture, .name {
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 10px;
}

.rules {
    margin-left: 550px;
    margin-top: 200px;
    text-shadow: -1px 0 #000d1a, 0 1px #000d1a, 1px 0 #000d1a, 0 -1px #000d1a
}

input:required:invalid, input:focus:invalid {
    border-color: red;
}

input:required:valid {
    border-color: green;
}

table {
    width: 800px;
    height: 200px;
    padding: 10px;
    margin-left: 300px;
    margin-top: 70px; 
}